name: "unittest for package"
on:
  push:
    branches: ["**"]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv sync --extra dev

      # Install FFmpeg
      - name: Install FFmpeg
        run: |
          sudo apt-get update -q
          sudo apt-get install -y wget -q
          wget https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-6.0-amd64-static.tar.xz -q
          tar -xf ffmpeg-6.0-amd64-static.tar.xz
          sudo mv ffmpeg-*-amd64-static/ffmpeg /usr/local/bin/
          sudo mv ffmpeg-*-amd64-static/ffprobe /usr/local/bin/
          ffmpeg -version

      # Install webp
      - run: sudo apt-get install -y webp

      - name: Install GCC
        run: sudo apt-get update && sudo apt-get install -y build-essential nasm

      # Run linting
      - name: Linting
        run: uv run ruff check src/ && uv run ruff format --check src/

      # Run unittests
      - name: Run Unittest
        run: uv run pytest src/ --cov=./src --cov-report xml

      # Upload coverage to Codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          flags: ${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)

      # Build Mkdocs
      - name: Build Mkdocs
        run: uv run mkdocs build
